@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/*გავსტილოთ ზოგადი დანიშნულების სტილისტური მარეგულირებლები*/
*, :after, :before {
    box-sizing: border-box;
}

a, a:focus, a:hover {
    text-decoration: none;
}

a {
    color: #ec008c;
    color: #f24aad;
    background-color: transparent;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

aside, footer, header, nav, section {
    display: block;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
    font-size: 1.6rem;
    color: #454545;
}


html {
    font-size: 10px;
    touch-action: manipulation;
    font-family: "Poppins", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
}

head {
    display: none;
}

body{
    position: relative;
    font-family: "Poppins", sans-serif;
    margin:0;
    font-size: 1.6rem;
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/**************************** გავსტილოთ ჰედერი ***************************************/
.header {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0;
    position: relative;
    text-align: center;
    min-height: 37.3rem;
    padding: 4rem 0;
    background-image: url(./Assets/header-background.jpg);
}


/*გავსტილოთ მთავარი სანავიგაციო ელემენტი ჰედერში */
.header .navigation{
    padding: 0 4rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 7rem;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 770px){
    .header .navigation{
        padding: 0 1.5rem;
    }
}


/* გავსტილოთ ლოგო */
.main-logo {
    position: relative;
    z-index: 105;
    font-size: 0;
    align-self: flex-start;
}

.main-logo .logo {
    display: inline-block;
}

.main-logo .logo-size{
    width: 20rem;
    height: 6rem;
}

.svg-container {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.svg-container svg {
    display: inline-block;
    width: inherit;
    height: inherit;
}


/* გავსტილოთ ჰედერის ნავგაცია */
.header-nav .nav-list li {
    display: inline-block;
}

@media (max-width: 989px){
    .header-nav {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 101;
        float: none;
        width: 100%;
        height: 100vh;
        padding-top: 14rem;
        text-align: center;
        background: #0c1b4e;
        transition: transform .3s ease-in-out;
    }
}

@media (max-width: 770px){
    .header-nav {
        padding-top: 11rem;
    }
}

@media (max-width: 330px){
    .header-nav {
        padding-top: 8rem;
    }
}

@media (max-width: 989px){
    .header-nav .nav-list li {
    display: block;
    }
}


.header-nav .nav-list li a {
    position: relative;
    padding: .8rem 2.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: #fff;
    border-bottom: .2rem solid transparent;
    transition: all .2s ease-in-out;
}

@media (max-width: 1199.98px)
{
    .header-nav .nav-list li a {
    padding: .8rem 1.5rem;
    }
}

@media (max-width: 989px){
    .header-nav .nav-list li a{
        display: inline-block;
        width: auto;
        padding: .5rem 1.5rem 0;
        font-size: 4rem;
    }
}

@media (max-width: 770px){
    .header-nav .nav-list li a{
        font-size: 2.6rem;
    }
}


/*დავამატოთ svg ელემენტები ნავიგაციასთან მისვლის დროს */
@media (min-width: 990px)
{
    .header-nav .nav-list li a:after, .header-nav .nav-list li a:before {
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        width: 0;
        height: 1rem;
        margin: 0 auto;
        content: "";
        background: url(./Assets/circle_top.svg) no-repeat 50%/cover;
        transition: all .2s ease-in-out;
    }
}

@media (min-width: 990px)
{
    .header-nav .nav-list li a:before {
    top: -.7rem;
    }
}

@media (min-width: 992px){
    .header-nav .nav-list li:not(:last-child).addsvg a:before{
        width: 3.5rem;
    }
}

@media (min-width: 990px){
    .header-nav .nav-list li a:after {
        bottom: -.7rem;
        transform: rotate(-180deg);
    }
}

@media (min-width: 992px){
    .header-nav .nav-list li:not(:last-child).addsvg a:after{
        width: 3.5rem;
    }
}

@media (min-width: 992px){
    .header-nav .nav-list li.addsvg-contact a:after{
        width: 3.5rem;
    }
}

@media (min-width: 992px){
    .header-nav .nav-list li.addsvg-contact a:before{
        width: 3.5rem;
    }
}

/* გავსტილოთ ჰედერის ქვედა მხარე */
.header .header-bottom{
    overflow: hidden;
}

.main-container{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.header .header-bottom .main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 580px){
    .main-container{
        max-width: 580px;
    }
}

@media (min-width: 768px){
    .main-container{
        max-width: 740px;
    }
}

@media (max-width: 989px){
    .header .header-bottom .main-container{
        display: block;
    }
}

@media (min-width: 1000px){
    .header-bottom .main-container{
        max-width: 1200px;
    }
}


/*ჰედერის ქვედა მარცხება კუთხის გასტილვა*/
.bottom-left{
    float: left;
    margin-left: 0rem;
}

@media (max-width: 989px){
    .bottom-left{
        float: none;
        margin-bottom: 6rem;
        margin-top: 2rem;
        text-align:left;
    }
}

@media (max-width: 770px){
    .bottom-left{
        float: none;
        margin-bottom: 4rem;
        margin-top: 5rem;
        text-align:left;
    }
}

.bottom-left-h1{
    margin: 0 0 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

@media (max-width: 989px){
    .bottom-left-h1{
        margin: 0;
    }
}

@media (max-width: 770px){ 
    .bottom-left-h1{
        font-size: 4.4rem;
    }
}

@media (max-width: 580px){
    .bottom-left-h1 {
    font-size: 4.6rem;
    }
}


.bottom-left-h1:after {
    font-size: 6rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 0;
    color: #ec008c;
    content: ".";
}

@media (max-width: 770px)
{
    .bottom-left-h1:after {
    font-size: 4.5rem;
    line-height: 1;
    }
}


.bottom-nav ul li.home {
    padding-left: 0;
    overflow: visible;
    line-height: 2.4rem;
}

.bottom-nav ul li{
    position: relative;
    float: left;
    padding: 0 1.6rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: #cdd6f2;
}

.bottom-nav ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: #8e9dce;
}

.bottom-nav ul li .icon{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.bottom-nav ul li span {
    vertical-align: top;
}

.bottom-nav ul li a:after{
    position: absolute;
    top: -.1rem;
    right: -.4rem;
    z-index: 2;
    font-family: "Poppins", sans-serif;
    color: #8e9dce;
    content: "\BB";
}

/*გავსტილოთ ქვედა მარჯვენა კუთხე*/
.bottom-right{
    float: right;
    width: 60rem; 
}

@media (max-width: 989px){
    .bottom-right {
    float: none;
    width: auto;
    }
}

.bottom-right p{
    font-size: 2.4rem;
    line-height: 1.458;
    color: #a6b1d6;
    text-align: right;
}

@media (max-width: 989px){
    .bottom-right p{
        text-align: left;
    }
}

@media(max-width:767px){
    .bottom-right p{
        font-size: 2.2rem;
    }
}

@media(max-width:575px){
    .bottom-right p{
        font-size: 2.2rem;
    }
}


/* გავსტილოთ ჩამოსაშლელი მენიუ, რომელიც ჰედერში გამოჩნდება რეზულოციის შემცირებისას */
.header-menu{
    z-index: 103;
    display: none;
    float: right;
    width: 9rem;
    padding: 1.2rem 0;
    text-align: right;
}

@media (max-width: 989px){
    .header-menu{
        display: block;
    }
}

.header-menu .extra-menu-box{
    display: flex;
}

.header-menu .menu{
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    vertical-align: top;
}


/* გავსტილოთ ჩანისაშლელი მენიუს სამშრიანი სტილისტური ღილაკი */
.button{
    display: inline-block;
    width: 4rem;
    height: 2.8rem;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.extra-box {
    width: 30px;
    height: 17px;
    display: inline-block;
    position: relative;
}

.extra-menu-box .button{
    padding:0rem 2.3rem 1.15rem;
}

.extra-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
}

.extra-inner {
    transition: all .3s ease-in-out;
    width: 30px;
    height: 3px;
    background-color: #ec008c;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.button .extra-inner {
    top: 1.5px;
}

.button .extra-inner {
    transition: all .3s ease-in-out;
}


.extra-inner:before {
    width: 30px;
    height: 3px;
    background-color: #ec008c;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.extra-inner:before {
    content: "";
    display: block;
}

.extra-inner:before {
    top: -7px;
}

.extra-inner:before {
    top: 7px;
    transition-property: transform,opacity;
    transition-timing-function: ease;
    transition-duration: .15s;
}

.extra-inner:after{
    width: 30px;
    height: 3px;
    background-color: #ec008c;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.extra-inner:after{
    content: "";
    display: block;
}

.extra-inner:after {
    bottom: -7px;
}

.extra-inner:after {
    top: 14px;
}

.button .extra-inner:after {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.button .extra-inner:after {
    width: 50%;
    transition: all .4s ease-in-out;
}

.button:hover .extra-inner:after{
    width: 100%;
}

/*********ვიწყებთ ჰედერის შემდგომი სექციის გასტილვას, რომელიც შეიცავს გვერდის საინფორმაციო ბმულებს*******/
.sec1{
    padding: 7rem 0;
    background: #f8f8f8;
    box-shadow: inset 0 -0.1rem 0.5rem 0 #dedede;
    display: block;
}

@media (max-width: 989px){
    .sec1{
        padding: 4.5rem 0;
    }
}

@media (max-width: 580px){
    .sec1{
        padding: 0;
    }
}


@media (min-width: 990px){
    .main-container{
        max-width: 1300px;
    }
}

.asides-box{
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.aside{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 580px){
    .aside{
        flex: 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 990px){
    .aside{
        flex: 0 0 25%;
        max-width: 25%;
    }
}



@media (max-width: 989px){
    .aside-block{
        margin: 2.5rem 0;
    }
}

.aside-block .block-img{
    position: relative;
    width: 10.8rem;
    height: 10.8rem;
    margin: 0 auto 3rem;
    border: .2rem solid #c5c5c5;
    border-radius: 50%;
}

@media (max-width: 989px){
    .aside-block .block-img{
        margin: 0 auto 2rem;
    }
}

.aside-block .block-img::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: .3rem;
    content: "";
    border: .1rem solid #e3e3e3;
    border-radius: 50%;
}

.block-img .svg-element{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7rem;
    height: 7rem;
    transform: translate(-50%,-50%);
}


/* გავსტილოთ svg ელემენტის ტექსტური ინფორმაცია */
.aside-block .block-info{
    text-align: center;
    word-wrap: break-word;
}

.aside-block .block-info strong {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #454545;
}

@media (max-width: 989px){
    .aside-block .block-info strong{
        margin-bottom: 1rem;
    }
}

.aside-block .block-info address {
    margin: 0;
    font-size: 1.7rem;
    font-style: normal;
}

.aside-block .block-info strong a {
    display: inline-block;
    color: #454545;
    margin: 0;
    font-size: 1.7rem;
    font-style: normal;
}

.aside-block .block-info .social-link.facebook-link {
    color: #4562ac;
}

.aside-block .block-info .social-link {
    display: block;
    font-family: "Poppins", sans-serif;
}

/********** გავსტილოთ მეორე სექცია, რომელიც შეიჩავს შესაყვან ველებს და ფორმას *******/
/*
.contact-form{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}
*/
.sec2{
    padding: 6rem 0 7rem;
    background: #fff;
}

@media(min-width:990px){
    .sec2 .main-container{
        max-width: 1200px;
    }
}

.sec2 .form-title {
    margin: 0 0 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 4.6rem;
    color: #27376c;
    font-weight: 600;
}

@media (max-width: 770px){
    .sec2 {
    padding: 5rem 0 6rem;
    }
}

@media (max-width: 580px){
    .sec2 {
    padding: 3rem 0;
    overflow: hidden;
    }
}

.form-title:after {
    font-size: 6rem;
    font-weight: 400;
    line-height: 0;
    color: #ec008c;
    content: ".";
}

.sec2 .form-title:after {
    font-family: "Poppins", sans-serif;
    font-size: 4.8rem;
}


/* გავსტილოთ ფორმის შესაყვანი ველები */
.contact-form {
    display: table;
    width: 100%;
}

.contact-form .form-box {
    margin-bottom: 2rem;
}

@media (max-width: 770px)
{
    .contact-form .form-box {
    margin-bottom: 1rem;
    }
}

.box-row {
    display: flex;
    flex-wrap: wrap;    
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}


@media (min-width: 580px){
    .form-col {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (max-width: 770px){
    .contact-form .form-box .column {
        width: 50%;
    }
}

@media (max-width: 580px){
    .contact-form .form-box .column {
    width: 100%;
    }
}

.contact-form .input-container {
    position: relative;
    margin-bottom: 4rem;
}

@media (max-width: 580px){
    .contact-form .input-container {
    margin-bottom: 3rem;
    }
}

.form-col{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.width-66{
    padding-left: 13px;
    width:66%;
}

.contact-form .input-container input, .contact-form .input-container textarea {
    box-sizing: content-box;
    display: block;
    width: 100%;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: #454545;
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid #e3e3e3;
    outline: none;
    box-shadow: none;
    transition: all .3s;
}

.contact-form .input-container label {
    position: absolute;
    top: .8rem;
    left: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #454545;
    cursor: text;
    transition: .2s ease-out;
}

@media (max-width: 770px){
    .contact-form .input-container label {
    font-size: 1.8rem;
    }
}

.contact-form .input-container label span {
    color: #ec008c;
}

@media (min-width: 580px){
    .col-sm-8 {
        flex: 0 0 66%;
        max-width: 66%;
    }
}

.contact-form .input-container textarea {
    height: 8.5rem;
    resize: none;
}

.input-container.focus label{
    top: .5rem;
    font-size: 1.5rem;
    transform: translateY(-140%);
}

.contact-form .input-container input:focus, .contact-form .input-container textarea:focus{
    border-bottom: 1px solid #ec008c;
}

.contact-form .input-container input.red-input, .contact-form .input-container textarea.red-input{
    border-bottom: 1px solid hsl(0, 100%, 46%);
}

/* გავსტილოთ კითხვის ღილაკი */
.contact-form .more-form {
    margin: 0 0 4.5rem;
    text-align: center;
}

@media (max-width: 770px){
    .contact-form .more-form {
        margin: 0 0 3rem;
    }
}

.contact-form .more-form .more-questions {
    display: inline-block;
    font-size: 2rem;
    outline: none;
}

.contact-form .more-form .more-questions .question {
    font-family: "Poppins", sans-serif;
    border-bottom: .1rem solid #ec008c;
}

.contact-form .more-form .more-questions .optional {
    color: #797979;
}

.contact-form .more-form .more-questions:after {
    position: relative;
    top: -.3rem;
    display: inline-block;
    width: .6rem;
    height: .6rem;
    margin-left: 1.2rem;
    content: "";
    border-color: #ec008c;
    border-style: solid;
    border-width: 0 0 .2rem .2rem;
    transform: rotate(-45deg);
}

.add-more-forme{
    display: none;
}

/* გავსტილოთ დამატებითი ინფუთები, რომლებიც შემოდის ჩვენი გამოძახების შემდგომ */
.contact-form .add-form {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.contact-form .add-form.active {
    margin-bottom: 2rem;
    overflow: visible;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 770px){
    .contact-form .add-form.active {
    height: 53.6rem;
    }
}

@media (max-width: 580px){
    .contact-form .add-form.active {
        margin-bottom: 2rem;
    }    
}

.contact-form .add-form.active .checkbox-fields {
    height: auto;
}

.contact-form .checkbox-fields {
    float: left;
    width: 100%;
    height: 0;
}

.contact-form .checkbox-fields .added {
    margin-bottom: 4rem;
}

.contact-form .checkbox-fields .timeframe {
    float: left;
    width: 50%;
    padding-right: 1.5rem;
}

@media (max-width: 770px){
    .contact-form .checkbox-fields .timeframe {
        width: 100%;
        padding-right: 0;
        margin-bottom: 3rem;
    }
}

.contact-form .checkbox-fields h4 {
    margin: 0 0 4.5rem 0;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    color: #27376c;
}

.contact-form .checkbox-fields h4 span {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: #454545;
}

.contact-form .checkbox-fields .added .field {
    position: relative;
    margin-bottom: 2rem;
}

.check-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.contact-form .checkbox-fields .added .field input {
    display: block;
    width: 100%;
    padding-bottom: 1.7rem;
    font-size: 2rem;
    color: #454545;
    border: none;
    border-bottom: .1rem solid #e3e3e3;
    border-radius: 0;
    outline: none;
}

.contact-form .checkbox-fields .timeframe .field:after {
    position: absolute;
    right: 0;
    bottom: 2rem;
    width: 2.2rem;
    height: 2.1rem;
    content: "";
    background: url(./Assets/calendar-icon.png) no-repeat 50%/cover;
}

.contact-form .checkbox-fields .budget {
    float: left;
    width: 50%;
    padding-left: 1.5rem;
}

.contact-form .checkbox-fields .budget .field:after {
    position: absolute;
    right: 0;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    content: "";
    background: url(./Assets/pound.svg) no-repeat 50%/cover;
}

.rem-form:after {
    display: block;
    clear: both;
    content: "";
}

/* გავსტილოთ ჩეკბოქსები */
.contact-form .checkbox-fields .checkbox-box {
    overflow: hidden;
}

@media (max-width: 770px){
    .contact-form .checkbox-fields .checkbox-box {
    margin-bottom: 2rem;
    }
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container {
    position: relative;
    display: block;
    float: left;
    width: 33.333%;
    margin: 0 0 3.5rem;
}

@media (max-width: 770px){
    .contact-form .checkbox-fields .checkbox-box .checkbox-container {
    width: 50%;
    }
}

@media (max-width: 580px){
    .contact-form .checkbox-fields .checkbox-box .checkbox-container {
    float: none;
    width: 100%;
    }
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox-vis-hidden {
    position: absolute;
    width: .1rem;
    height: .1rem;
    padding: 0;
    margin: -.1rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container label {
    position: relative;
    padding-left: 4.8rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #454545;
    cursor: pointer;
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container label:before {
    position: absolute;
    left: 0;
    width: 2.8rem;
    height: 2.8rem;
    content: "";
    background: #fff;
    border: .1rem solid #e3e3e3;
    transition: all .3s ease-in-out;
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container label span {
    position: relative;
    top: .3rem;
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container label:after {
    position: absolute;
    top: .8rem;
    left: .8rem;
    width: 1.3rem;
    height: 1.2rem;
    content: "";
    background: url(./Assets/check.svg) no-repeat 50%/cover;
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container input:checked+label:before {
    border: .1rem solid #ec008c;
}

label:after {
    position: absolute;
    top: .8rem;
    left: .8rem;
    width: 1.3rem;
    height: 1.2rem;
    content: "";
    background: url(./Assets/check.svg) no-repeat 50%/cover;
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

.contact-form .checkbox-fields .checkbox-box .checkbox-container input:checked+label:after {
    opacity: 1;
    transform: scale(1);
}
/* გავსტილოთ ღილაკები */
.contact-form .submit-field {
    float: left;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    padding-top: 15px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.button {
    position: relative;
    display: inline-block;
    padding: 1.3rem 2.3rem 1.15rem;
    font-family:"Poppins", sans-serif;
    font-size: 1.7rem;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    border-radius: 4rem;
    outline: 0;
    transition: all .3s ease-in-out;
    width: auto;
    height: auto;
}

.pink-button {
    padding: 2rem 2.7rem 1.85rem;
    color: #fff;
    background: #ec008c;
    border: 0;
    box-shadow: 0 6px 18px rgba(236,6,142,.35);
}

.button .arrow {
    width: 1.4rem;
    height: 1rem;
    color: #fff;
}

.right-arrow .arrow {
    position: relative;
    top: -.1rem;
    margin-left: 1.2rem;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    transform: rotate(0deg);
}

.right-arrow:hover .arrow{
    transform: rotate(360deg);
}

.pink-button .arrow, .pink-button:focus .arrow, .pink-button:hover .arrow {
    color: #fff;
}

.svg-container:not(.color-none) svg {
    display: inline-block;
    width: inherit;
    height: inherit;
    color: inherit!important;
}

.warning-box{
    position: relative;
    float: left;
    width: 100%;
    padding: 1.7rem 2.2rem 1.7rem 6rem;
    margin: 2.5rem 0 0;
    font-family: "Poppins",sans-serif;
    font-size: 0rem;
    border-radius: 3rem;
}

.warning-box:before {
    position: absolute;
    top: 1.8rem;
    left: 2.2rem;
    width: 2.3rem;
    height: 2.3rem;
    content: "";
}

.warning-box.erorr-form{
    color: #e33a3a;
    background: #fff4f4;
    border: .2rem solid #e33a3a;
    font-size: 1.8rem;
}

.warning-box.erorr-form:before {
    background: url(./Assets/exit-icon.svg) no-repeat 50%/cover;
}
/* გავსტილოთ  ჩვენი გვერდის ბოლო  ნაწილი footer-ი */
.footer-contact{
    padding: 5.5rem 0;
    background: #f8f8f8;
    box-shadow: inset 0 0.1rem 0.2rem 0 #dedede;
}

@media (min-width: 580px)
{
    .half-width {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 700px){
    .footer-contact {
        padding: 3rem 0;
    }
}

@media (min-width: 1000px){
    .footer-contact .main-container{
        max-width: 1100px;
    }
}

/* fotter-ის მარცხენა კაონტეინერის გასტილვა */
.max-width {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 580px){
    .half-width {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 990px){
    .third-width {
        flex: 0 0 66%;
        max-width: 66%;
    }
}

@media (max-width: 989px){
    .company-connection .phone {
        margin-right: 0;
        margin-bottom: .8rem;
    }
}

.company-name {
    margin-bottom: .6rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: #797979;
}

.company-address{
    margin-bottom: 2rem;
    font-style: normal;
    font-size: 1.5rem;
    color: #797979;
}

.company-connection .mail, .company-connection .phone {
    display: inline-block;
    font-family:"Poppins", sans-serif;
    font-size: 1.7rem;
    transition: all .2s ease-in-out;
}

@media (max-width: 989px){
    .company-connection .mail, .company-connection .phone {
        display: block;
    }
}

.company-connection .phone {
    margin-right: 3rem;
}

.company-connection .mail .icon, .company-connection .phone .icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
    color: #ec008c;
}

.svg-container.icon+.meta {
    display: inline-block;
    vertical-align: middle;
}


/* გავსტილოთ footer-ის მარჯვენა კონტეინერი */
.social-contact{
    margin-right: 2rem;
}

.footer-contact .social-contact{
    font-size: 4rem;
    text-align: right;
}

@media (max-width: 770px){
    .footer-contact .social-contact {
        text-align: left;
    }
}

.social-contact .social-text{
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: #797979;
}

.social-contact ul li{
    display:inline-block;
    margin: 0 .5rem 1rem;
}

@media (min-width: 990px){
    .width-80 {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 80%;
    }
}

a .fa-facebook-f {
    color: #3B5998;
}

a .fa-twitter{
    color: #55ACEE;
}

a .fa-linkedin-in{
    color: #0077B5;
}

a .fa-instagram{
    color: #a9308d;
}

a .fa-behance{
    color: #4176FA;
}


/* გავსტილოთ footer-ის მეორე სექცია ფორმა */
.footer-form {
    background: linear-gradient(180deg,#f8f8f8 50%,#27376c 0);
} 

@media (min-width: 1000px){
    .footer-form .main-container{
        max-width: 1200px;
    }
}

@media (max-width: 770px){
    .footer-form .main-container {
        padding: 0;
    }
}

.footer-form .box-row {
    display: flex;   
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

@media(max-width: 990px){
    .footer-form .box-row{     
    flex-wrap: wrap;    
    }
}

.footer-form .box-row .text-center{
    margin-right:-4rem;
}

.footer-form .box{
    position: relative;
    padding: 3.5rem 2rem;
    color: #454545;
    background-color: #fff;
    box-shadow: 0 19px 22px rgba(0,0,0,.08);
}

@media (min-width: 768px){
    .footer-form .box {
        padding: 3.5rem 4.5rem;
        border-radius: 10px;
    }
}

/* გავსტილოთ ფორმა */
@media (min-width: 768px){
    .footer-form .icon {
        position: absolute;
        top: 4.5rem;
        left: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px){
    .display-none {
        display: none!important;
    }
}

.width-30{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 990px){
    .width-30 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

.text-center {
    text-align: center!important;
}

.mrg-bot-3{
    margin-bottom: 3rem!important;
}

@media (min-width: 990px){
    .mrg-bot-0 {
        margin-bottom: 0!important;
    }
}


@media (min-width: 768px){
    .text-aligen-left {
    text-align: left!important;
    }
}

.marg-bot {
    margin-bottom: .5rem!important;
}

@media (min-width: 768px){
    .display-none-important {
        display: none!important;
    }
}


.footer-form .footer-form-line {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 400;
    color: #27376c;
}  

@media (min-width: 768px){
    .footer-form .footer-form-line {
        font-size: 3.3rem;
    }
}

.footer-form-line:after {
    font-size: 6rem;
    font-weight: 400;
    line-height: 0;
    color: #ec008c;
    content: ".";
}

.footer-form .content p {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}


/* გავსტილოთ  footer-ის ფორმის ველები და ღილაკი */
.foot-form-con{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 990px){
    .foot-form-con-1 {
    padding-left: 3rem!important;
    }
}

@media (min-width: 990px){
    .foot-form-con {
        flex: 0 0 66%;
        max-width: 66%;
    }
}

.align-self-end {
    align-self: flex-end!important;
}

@media (min-width: 580px){
    .half-width {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.footer-form .input-container {
    position: relative;
    margin-bottom: 4rem;
}

@media (min-width: 580px){
    .footer-form  .input-container {
        margin-bottom: 2rem;
    }
}

.footer-form .input-container input{
    box-sizing: content-box;
    display: block;
    width: 100%;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: #454545;
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid #e3e3e3;
    outline: none;
    box-shadow: none;
    transition: all .3s;
}

.footer-form .input-container label {
    position: absolute;
    top: .8rem;
    left: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: #454545;
    pointer-events: none;
    cursor: text;
    transition: .2s ease-out;
}

.footer-form .input-container input {
    font-size: 1.7rem;
}


@media (max-width: 770px){
    .footer-form .input-container label {
    font-size: 1.8rem;
    }
}

.footer-form .input-container label span {
    color: #ec008c;
    font-size: x-small;
}

.input-container.focus label{
    top: .5rem;
    font-size: 1.2rem;
    transform: translateY(-140%);
}

.footer-form .input-container input:focus{
    border-bottom: 1px solid #ec008c;
}

.footer-form .input-container input.red-input{
    border-bottom: 1px solid hsl(0, 100%, 46%);
}
/*ღილაკის გასტილვა*/ 
.width-25{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 990px){
    .width-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 990px){
    .text-lg-left {
        text-align: left!important;
    }
}


@media (max-width: 770px){
    .footer-form .button {
    display: block;
    width: 100%;
    }
}

.svg-container:not(.color-none) svg [fill*="#"]:not(.noColor){
    fill: currentColor!important;
    transition: fill .5s ease;
}

.footer-form .privacy {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: #454545;
}

.footer-form .privacy a {
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}


/* გავსტილოთ footer-ის მესამე სექცია */
.footer-privacy{
    padding: 4.3rem 0;
    background: #27376c;
}

@media (min-width: 990px){
    .footer-privacy .main-container {
        max-width: 1150px;
    }
}

.max-width, .half-width, .third-width{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 990px){
    .third-width {
    flex: 0 0 66%;
    max-width: 66%;
    }
}

@media (min-width: 580px){
    .half-width {
        flex: 0 0 50%;
        max-width: 40%;
    }
}

.footer-rights-copy p {
    font-size: 1.7rem;
    line-height: 1.471;
    color: #7d8bbc;
}

@media (min-width: 768px)
{
    .display-none-important {
    display: none!important;
    }
}

.footer-rights-copy ul {
    padding: 0;
    margin: 1.5rem 0;
    font-size: 0;
}

.footer-rights-copy ul li {
    position: relative;
    display: inline-block;
    list-style: none;
}

.footer-rights-copy ul li a {
    padding-right: 1.3rem;
    font-size: 1.4rem;
    color: #7d8bbc;
}

.footer-rights-copy ul li:not(:first-child):before {
    position: absolute;
    top: 50%;
    left: -5px;
    display: block;
    width: .3rem;
    height: .3rem;
    content: "";
    background: #7d8bbc;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.footer-rights-copy ul li a:hover {
    color: #f24aad;
}


@media (min-width: 990px){
    .width-80 {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

.footer-back {
    overflow: hidden;
}

@media (min-width: 580px){
    .text-sashualo-right {
    text-align: right!important;
    }
}

 .blue-button{
    color: #7d8bbc;
    border: .2rem solid #7d8bbc;
}

.blue-button:hover{
    background-color: #626985;
}

.svg-container:not(.color-none) svg [fill*="#headerID"]:not(.noColor) {
    fill: currentColor!important;
    transition: fill .5s ease;
}

form .input-container p{
    display: block;
    margin-top: -1rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #e33a3a;
}

